@model GeekShooping.IdentityServer.ViewModel.LoginViewModel
@{
    var returnUrl = "";
    ViewBag.Subtitulo = "Login de Usuário";
    if (Context.Request.Query.ContainsKey("returnUrl"))
    {
        returnUrl = Context.Request.Query["returnUrl"].ToString();
    }
}

<h1 class="text-primary">Login de Usuário</h1>
<hr>
<div class="dropdown-menu">
    <form asp-action="Login" class="px-4 py-3">
        <div class="mb-3">
            <label asp-for="@Model.Usuario" for="exampleDropdownFormEmail1" class="form-label">Email</label>
            <input asp-for="@Model.Usuario" type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@exemplo.com">
            <span asp-validation-for="@Model.Usuario" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Senha" for="exampleDropdownFormPassword1" class="form-label">Senha</label>
            <input asp-for="@Model.Senha" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Senha">
            <span asp-validation-for="@Model.Senha" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input asp-for="@Model.Lembrar" type="checkbox" class="form-check-input" id="dropdownCheck">
                <label asp-for="@Model.Lembrar" class="form-check-label" for="dropdownCheck">
                    Lembre de mim
                </label>
                <span asp-validation-for="@Model.Lembrar" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Novo por aqui? Inscrever-se</a>
    <a class="dropdown-item" href="#">Esqueceu a senha?</a>
</div>